<div class="container">
  <div class="profile">
    <div class="show-user-titre">
      <div class="user-show-profilpic" style="background-image: url('<%= @user.photo.url%>')">
      </div>
      <div class="user-show-infos">
        <h1><%= @user.first_name %> <%= @user.last_name %></h1>
        <p>Dresseur pokemon</p>
      </div>
    </div>
    <div class="user-infos-display">
      <h3>Informations</h3>
      <p><i class="fas fa-home"></i> <%= @user.adress %></p>
      <p><i class="fas fa-envelope"></i> <%= @user.email %></p>
      <p><i class="fas fa-key"></i> ********</p>
    </div>
    <div class="pokemons-user-display">
      <h3>pokemons</h3>
      <div class="pokepic-user-show">
        <% @user.pokemons.each do |p| %>
          <div class="col-xs-12 col-sm-6 col-md-4" id="carte-pokemon">
                    <%= link_to "", pokemon_path(p), class: 'card-link' %>
                  <div class="card" style="background-image: url(<%= p.race.photo %>);">
                  </div>
                    <div class="card-description">
                      <div><h2><%= p.name %> - <span id="level">  lvl: <%= p.level %> </span></h2></div>
                      <div class="card-price"> <%= p.price %> $</div>
                    </div>
                </div>
        <% end %>
    </div>
  </div>
</div>