<div class="container">
  <div class="profile">
    <div class="show-user-titre">
      <div class="user-show-profilpic" style="background-image: url('<%= @user.photo.url%>')">
      </div>
      <div class="user-show-infos">
        <h1><%= @user.first_name %> <%= @user.last_name %></h1>
        <p>Dresseur pokemon</p>
      </div>
    </div>
    <div class="user-infos-display">
      <h3>Informations</h3>
      <p><i class="fas fa-home"></i> <%= @user.adress %></p>
      <p><i class="fas fa-envelope"></i> <%= @user.email %></p>
      <p><i class="fas fa-key"></i> ********</p>
      <% if current_user == @user %>
       <p> <%= link_to "edit", edit_user_registration_path  %></p>
      <% end %>
    </div>
    <div class="pokemons-user-display">
      <h3>pokemons</h3>
    </div>
  </div>
</div>
<div class="container" id="card-container">
  <div class="row text-center">
    <div class="col-xs-4">
      <% @user.pokemons.each do |pokemon| %>
        <%= render 'pokemons/card', pokemon: pokemon %>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  const cards = document.querySelectorAll("figure")
  cards.forEach((card) => {
  card.classList.remove("card--normal");
  card.classList.add(`card--${card.querySelector("h3").dataset.category}`);
});
</script>
