<% @url = ["https://eternia.fr/public/media//letsgo/artworks/divers/pokemon_partenaire.jpg", "http://getwallpapers.com/wallpaper/full/b/a/6/647483.jpg", "https://wallpapertag.com/wallpaper/full/7/e/5/189217-amazing-pokemon-hd-wallpaper-2560x1600-download-free.jpg", "https://avante.biz/wp-content/uploads/Wallpaper-Pokemon/Wallpaper-Pokemon-012.jpg", "http://www.wallpaperbetter.com/wallpaper/9/252/21/pokemon-background-for-1080P-wallpaper.jpg", "https://wallpaperplay.com/walls/full/d/2/5/101777.jpg", "https://images4.alphacoders.com/686/686185.jpg", "https://images8.alphacoders.com/723/723281.jpg", "https://wallpaperplay.com/walls/full/5/9/a/63005.jpg", "https://xshyfc.com/wp-content/uploads/data/2018/2/15/Pokemon-Wallpaper-Lugia-PIC-WPHR11496.jpg", "https://wallpapertag.com/wallpaper/full/0/9/c/142769-free-download-ghost-pokemon-wallpaper-1920x1200.jpg", "https://wallpaperplay.com/walls/full/9/7/3/280169.jpg", "https://i.pinimg.com/originals/53/d9/58/53d9581e5750e63e7a9c889b2d0cff50.jpg", "https://images5.alphacoders.com/389/389247.png"] %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),
          url('<%= @url.sample%>')">
  <div class="poke-pic" style="background-image: url('<%= cl_image_path @pokemon.race.photo%>')">
  </div>
</div>
<div class="container" style="width: 80vw;">
  <div id="info-container">
    <div class="pokemon-infos" style="">
      <h1><%= @pokemon.name %></h1>
      <h3><%= @pokemon.race.name %></h2>
      <p class="level"><i class="fas fa-angle-double-up"></i> <%= @pokemon.level %></p>
      <p class="level"><i class="fas fa-frog"></i> <%= @pokemon.race.category %></p>
      <p class="level"><i class="fas fa-seedling"></i> <%= @pokemon.race.location %></p>
    </div>
    <div class="owner-stuff">
      <%= cl_image_tag @pokemon.user.photo, class: "avatar dropdown-toggle", id: "navbarDropdown" if @pokemon.user.photo.present? %>
      <hr>
      <p><span class="infos"><%= @pokemon.user.first_name %> <%= @pokemon.user.last_name %></span></p>
      <p> <span class="infos"><%= @pokemon.user.adress %></span></p>
      <p> <span class="infos"><%= @pokemon.user.email %></span></p>
      <%= link_to 'See user profile', user_path(@pokemon.user), class: "user-profile-btn" %>
    </div>
    <div id="bookingform"><%= render "rentals/new" %></div>
  </div>
</div>
<div class="container" id="review-container">
  <h2>Check what people think about <%= @pokemon.name.upcase %>: </h2>
  <div id="reviews">
    <% @pokemon.reviews.each do |review| %>
      <%= render "reviews/show", review: review %>
    <% end %>
  </div>
  <br>
  <br>
  <br>
  <div class="new-review-container">
    <h2>Add a review to <%= @pokemon.name.upcase %> </h2>
    <%= render 'reviews/form', pokemon: @pokemon, review: @review %>
    <%= link_to 'Back', pokemon_path(@pokemon) %>
  </div>
</div>
</div>
