<div class="poke-pic" style="background-image: url('<%= cl_image_path @pokemon.race.photo%>')">
</div>


<%= @pokemon.name %>
<%= @pokemon.level %>
<%= @pokemon.price %>
<%= @pokemon.user.first_name %>
<%= @pokemon.user.last_name %>
<%= @pokemon.user.adress %>
<%= @pokemon.user.email %>
<%= @pokemon.race.name %>
<%= @pokemon.race.category %>
<%= @pokemon.race.location %>
<%= @pokemon.race.photo %>
