<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),
          url('<%= @url.sample%>')">
  <div class="poke-pic" style="background-image: url('<%= cl_image_path @pokemon.race.photo%>')">
  </div>
</div>
<div class="container">
  <div class="grosse-div">
    <div class="pokemon">
      <h1><%= @pokemon.name %></h1>
      <p class="species"><%= @pokemon.race.name %> </p>
      <p class="level">level <%= @pokemon.level %></p>
      <p class="level"> <%= @pokemon.race.category %></p>
      <p class="level"><i class="fas fa-seedling"></i> <%= @pokemon.race.location %></p>
      <p class="price"><%= @pokemon.price %> $</p>
    </div>
    <div class="infos-reviews">
      <div class="user-infos">
        <h4>Owner Informations</h4>
        <p><i class="fas fa-user"></i> <span class="infos"><%= @pokemon.user.first_name %> <%= @pokemon.user.last_name %></span></p>
        <p><i class="fas fa-home"></i> <span class="infos"><%= @pokemon.user.adress %></span></p>
        <p><i class="fas fa-envelope"></i> <span class="infos"><%= @pokemon.user.email %></span></p>
      </div>
      <div class="user-infos">
        <h4>Reviews</h4>
        <% @pokemon.reviews.each do |r| %>
          <div class="review">
          <p><%= r.content %></p>
          <p><% r.rating.times do  %>
          <i class="fas fa-star"></i>
          <% end %>
          </p>
          </div>
        <% end %>
        <div class="add-review">
        <%= link_to new_pokemon_review_path(@pokemon) do %>
        <i class="fas fa-plus"></i> <p>add a new review</p>
        <% end %>
        </div>
      </div>
    </div>
  </div>
      <div class="buttons">
      <%= link_to 'Back', pokemons_path %>
      </div>
</div>
