<% @url = ["https://eternia.fr/public/media//letsgo/artworks/divers/pokemon_partenaire.jpg", "http://getwallpapers.com/wallpaper/full/b/a/6/647483.jpg", "https://wallpapertag.com/wallpaper/full/7/e/5/189217-amazing-pokemon-hd-wallpaper-2560x1600-download-free.jpg", "https://avante.biz/wp-content/uploads/Wallpaper-Pokemon/Wallpaper-Pokemon-012.jpg", "http://www.wallpaperbetter.com/wallpaper/9/252/21/pokemon-background-for-1080P-wallpaper.jpg", "https://wallpaperplay.com/walls/full/d/2/5/101777.jpg", "https://images4.alphacoders.com/686/686185.jpg", "https://images8.alphacoders.com/723/723281.jpg", "https://wallpaperplay.com/walls/full/5/9/a/63005.jpg", "https://xshyfc.com/wp-content/uploads/data/2018/2/15/Pokemon-Wallpaper-Lugia-PIC-WPHR11496.jpg", "https://wallpapertag.com/wallpaper/full/0/9/c/142769-free-download-ghost-pokemon-wallpaper-1920x1200.jpg", "https://wallpaperplay.com/walls/full/9/7/3/280169.jpg", "https://i.pinimg.com/originals/53/d9/58/53d9581e5750e63e7a9c889b2d0cff50.jpg", "https://images5.alphacoders.com/389/389247.png"] %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),
          url('<%= @url.sample%>')">
  <div class="poke-pic" style="background-image: url('<%= cl_image_path @pokemon.race.photo%>')">
  </div>
</div>
<div class="container">
  <div class="grosse-div">
    <div class="pokemon">
      <div class="head-of-poke">
        <h1><%= @pokemon.name %></h1>
        <p class="species"><%= @pokemon.race.name %> </p>
      </div>
      <p class="level"><i class="fas fa-angle-double-up"></i> <%= @pokemon.level %></p>
      <p class="level"><i class="fas fa-frog"></i> <%= @pokemon.race.category %></p>
      <p class="level"><i class="fas fa-seedling"></i> <%= @pokemon.race.location %></p>
      <p class="price"><%= @pokemon.price %> $ <span class="perweek">/week</span></p>
    </div>
    <div class="infos-reviews">
      <div class="user-infos">
        <div class="ownerzzz">
          <h4>Owner Informations</h4>
          <%= cl_image_tag @pokemon.user.photo, class: "avatar dropdown-toggle", id: "navbarDropdown" if @pokemon.user.photo.present? %>
        </div>
        <p><i class="fas fa-user"></i> <span class="infos"><%= @pokemon.user.first_name %> <%= @pokemon.user.last_name %></span></p>
        <p><i class="fas fa-home"></i> <span class="infos"><%= @pokemon.user.adress %></span></p>
        <p><i class="fas fa-envelope"></i> <span class="infos"><%= @pokemon.user.email %></span></p>
      </div>
      <div class="user-infos">
        <h4>Reviews</h4>
        <% @pokemon.reviews.each do |r| %>
          <div class="review">
          <p><%= r.content %></p>
          <p><% r.rating.times do  %>
          <i class="fas fa-star"></i>
          <% end %>
          </p>
          </div>
        <% end %>
        <div class="add-review">
        <%= link_to new_pokemon_review_path(@pokemon) do %>
        <i class="fas fa-plus"></i> <p>add a new review</p>
        <% end %>
        </div>
      </div>
      <div class="renalpok">
      <%= link_to 'Rent this pokemon', new_pokemon_rental_path(@pokemon), class: "pokerent" %>
      </div>
    </div>
  </div>
      <div class="buttons">
      <%= link_to 'Back', pokemons_path %>
      </div>
</div>
